In [20]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [21]:
data=pd.read_excel('C:/Users/USER/Desktop/car_age_price.xlsx')

In [22]:
data.head()

   Year   Price
0  2018  465000
1  2019  755000
2  2019  700000
3  2018  465000
4  2018  465000

In [23]:
data.shape

(112, 2)

In [24]:
data.describe()

              Year          Price
count   112.000000     112.000000
mean   2016.669643  483866.044643
std       1.629616   91217.450533
min    2013.000000  300000.000000
25%    2015.000000  423750.000000
50%    2017.000000  500000.000000
75%    2017.000000  550000.000000
max    2020.000000  755000.000000

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [26]:
data.isna().sum()

Year     0
Price    0
dtype: int64

In [27]:
data.corr()

           Year     Price
Year   1.000000  0.776302
Price  0.776302  1.000000

In [ ]:
# result:-there is a high positive correlation with year and price values

In [28]:
y=data['Price']
x=data.drop('Price',axis=1) # fixing the dependent and independent variables

In [29]:
from sklearn.model_selection import train_test_split

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42) # split into train and test sets

In [31]:
from sklearn.linear_model import LinearRegression

In [40]:
# fit the model

In [32]:
lr1=LinearRegression()

In [33]:
model1=lr1.fit(x_train,y_train) # to get the linear equation

In [41]:
y_pred=model1.predict(x_test) # evaluate the test

In [35]:
y_pred

array([600775.91252081, 505558.77690466, 553167.34471273, 553167.34471273,
       553167.34471273, 410341.6412885 , 505558.77690466, 553167.34471273,
       600775.91252081, 600775.91252081, 315124.50567235, 505558.77690466,
       410341.6412885 , 648384.48032889, 553167.34471273, 600775.91252081,
       315124.50567235, 410341.6412885 , 505558.77690466, 505558.77690466,
       505558.77690466, 505558.77690466, 505558.77690466])

In [36]:
from sklearn.metrics import mean_squared_error, r2_score

In [37]:
print('MSE is:',mean_squared_error(y_test,y_pred))
print('R square value is:',r2_score(y_test,y_pred)) # finding the mean sqaure error and r square values

MSE is: 4326906256.829671
R square value is: 0.36759313425902185

In [83]:
y_new=model1.predict([[2022]]) # to predict the price of the car in 2022

C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [84]:
y_new

array([743601.61594504])

In [ ]:

# result:- from the created model we get  predicted  that the price of  price of a 2022 model second-hand grand i10 is 743601.61594504

# Lasso Regression

In [85]:
# import Lasso regression from sklearn library
from sklearn.linear_model import Lasso

In [86]:
# Train the model
lasso = Lasso(alpha = 1)
lasso.fit(x_train, y_train)
y_pred1 = lasso.predict(x_test)

In [87]:
# Calculate Mean Squared Error
mean_squared_error = np.mean((y_pred1 - y_test)**2)
print("Mean squared error on test set", mean_squared_error)

Mean squared error on test set 4326859771.015669

In [ ]:
# result:-  in linear regression model the Mean square error value is 4326906256.829671 and that of Lasso regression is 4326859771.015669. here we can see that the MSE of lasso regression is less than linear regression.so we can sy that Lasso regression  perform better linear regression. also here the r square value of linear regression is 0.36759313425902185 ,which is less than 0.5. so we can say the created linear model is not a best fit for the current data.